.chessboard {
    top: 100px;
    position: relative;
    justify-content: center;
    display: flex;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;
}

.square-black {
    color: white;
    background-color: black;
}

.square-white {
    color: black;
    background-color: white;
}